
<div class="container">
  <div class="container-fluid">
    <div class="alpha-num-shows">
      <div class="alpha-num">
        <a href="0-9">0-9</a>
        <a href="A">A</a>
        <a href="B">B</a>
        <a href="C">C</a>
        <a href="D">D</a>
        <a href="E">E</a>
        <a href="F">F</a>
        <a href="G">G</a>
        <a href="H">H</a>
        <a href="I">I</a>
        <a href="J">J</a>
        <a href="K">K</a>
        <a href="L">L</a>
        <a href="M">M</a>
        <a href="N">N</a>
        <a href="O">O</a>
        <a href="P">P</a>
        <a href="Q">Q</a>
        <a href="R">R</a>
        <a href="S">S</a>
        <a href="T">T</a>
        <a href="U">U</a>
        <a href="V">V</a>
        <a href="W">W</a>
        <a href="X">X</a>
        <a href="Y">Y</a>
        <a href="Z">Z</a>
      </div>
      <div class="shows">
        <a href="#" class="btn btn-secondary btn-outline-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Action</a>
        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Adventure</a>

        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Animation</a>

        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Children</a>

        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Comedy</a>

        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Crime</a>

        <a href="#" class="btn btn-secondary btn-sm " tabindex="-1" role="button" aria-disabled="true">Documentry</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Drama</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Family</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Fantasy</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Food</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Horror</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">News</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Reality</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Romance</a>

        <a href="#" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">Sci-fi</a>

        <a href="#" class="btn btn-secondary  btn-sm" tabindex="-1" role="button" aria-disabled="true">Sports</a>


      </div>
    </div> 
  </div>
  <div class="search">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
     </nav>
  </div>
</div>